<div class="container">
  <div class="jumbotron">
    <h1 id="pageTitle">Eat-Da-Burger</h1>
    <img id="mainImg" src="assets/img/patty.gif">
    <hr>
    <form class="createForm">
      <div class="row inputRow">
        <div class="col-md-12">
          <label for="newBurger">New Burger</label>
          <input type="text" id="newBurger">
          <input id="submit" class="btn" type="submit" value="Submit Burger">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h2 style="text-align: center">Burgers to Eat</h2>
          <hr>
          {{#each burgers}} {{#unless devoured}}
          <p class="burger">
            {{this.id}}. {{this.burger_name}}
            <button data-id="{{this.id}}" class="devourBurger btn btn-danger">Devour!</button>
          </p>
          <hr> {{/unless}} {{/each}}
        </div>
        <div class="col-md-6">
          <h2 style="text-align: center">Devoured Burgers</h2>
          <hr>
          {{#each burgers}} {{#if devoured}}
          <p class="burger eaten">
            {{this.id}}. {{this.burger_name}}
          </p>
          <hr> {{/if}} {{/each}}
        </div>
      </div>
    </form>
  </div>
</div>